
fieldset {
	display: block;
	position: relative;
	width: 480px;
	margin: 64px auto 64px auto;
	padding: 16px;
	border: 1px solid #cccccc;
	border-radius: 16px;
}

fieldset:last-of-type {
	margin-bottom: 0px;
}

fieldset > button {
	float: right;
}

fieldset > h3 {
	display: block;
	margin: 0px 0px 16px 0px;
	padding: 0px;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}



fieldset div {
	display: block;
	margin: 0px 0px 16px 0px;
	text-align: center;
}

fieldset div:last-of-type {
	margin-top: 32px;
	margin-bottom: 32px;
}

fieldset div label {
	display: block;
	margin: 0px;
	padding: 4px 0px;
	font-family: monospace;
	font-size: 16px;
	font-weight: bold;
}

fieldset div input {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	font-family: monospace;
	font-size: 16px;
	font-weight: normal;
	border: 1px solid #cccccc;
	border-radius: 4px;
}

fieldset div input:focus {
	border: 1px solid #666666;
	outline: none;
}

fieldset div input:invalid {
	color: #ff2222;
	border: 1px solid #ff2222;
	background: rgba(255,0,0,0.1);
}

fieldset ul {
	display: block;
	margin: 0px;
	padding: 0px;
}

fieldset ul li {
	display: block;
	height: 32px;
	font-size: 1em;
	line-height: 1.5em;
	vertical-align: middle;
}

fieldset ul li a {
	display: inline-block;
	margin: 0px 2px;
	padding: 0px;
	vertical-align: top;
}

fieldset a {
	color: #22ccff;
}

fieldset button {
	vertical-align: middle;
}

